[submodule "CG_Production_Asset_Downloader"]
	path = CG_Production_Asset_Downloader
	url = https://github.com/CameronDetig/CG_Production_Asset_Downloader.git
[submodule "CG_Production_LLM_Assistant"]
	path = CG_Production_LLM_Assistant
	url = https://github.com/CameronDetig/CG_Production_LLM_Assistant.git
[submodule "CG_Production_Metadata_Extractor"]
	path = CG_Production_Metadata_Extractor
	url = https://github.com/CameronDetig/CG_Production_Metadata_Extractor.git
